<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/"><h2> << Home </a>
    <table>
        <tr>
            <th><img src="/static/images/logo.gif" alt="FAB2_Overlay"> </th>
        </tr>
    </table>
    
<form action="/GEN_FAB2_Overlay" method="POST" name="GEN_FAB2_OVERLAY">
    [ FAB2_OVERLAY ]<br>
    <p><small>If the frame-type is 'SPD', please refer to the example.<br>
    (ex: BD130S_60UM, BD180S_60UM_SPD)</small></p>
    <label for="Process">&nbsp;Process :</label>
    <input type="text" id="Process_ID" name="Process" size="74"><br>
    <textarea name="seed" id="seed_ID" rows = "30" cols = "100"></textarea>
    <br>
    &nbsp;<input type="submit" value="Submit"><br>
    &nbsp;<input type="reset">   
</form>
</body>
</html>
