<!DOCTYPE html>
<html lang="en">
<head>      
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>FAB2_PHOTOKEY</title>
   <style>
      body {
         margin-left: 30px;
         }
   </style>
   </head>
      <a href="/"><h2> << Home </a>
         <table>
            <tr>
               <th><img src="/static/images/logo.gif" alt="FAB2_OUTPUT"> </th>
            </tr>>
         </table>
      <br>
      [ 결과 파일을 확인하세요. ]<br>
      <br>
      <a href="/FAB2_OUTPUT_FILE" download="">{{OUT_FILE}}</a><br>    
   </body>
</html>