<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAB2_PHOTOKEY</title>
    <style>
        body {
           margin-left: 30px;
           font-family : Arial;
           font-size : 18px;
           }
     </style>
</head>
<body>
    <a href="/"><h2> << Home </a>
    <table>
        <tr>
            <th><img src="/static/images/logo.gif" alt="FAB2_PHOTOKEY"> </th>
        </tr>
    </table>  
<form action="GEN_FAB2_PHOTOKEY" method="POST" enctype="multipart/form-data">
    [ FAB2 PHOTOKEY 제작 ]<br> 
    <br>
    <small>1. PHOTOKEY DRAWING GUIDE 파일 첨부</small><br>
    &nbsp;<input type="file" name="file" required style="font-size: 16px; width: 1500px;"accept="*/*"><br>
    &nbsp;<input type="submit" value="업로드" style="font-size: 16px; width: 100px;"><br>
    &nbsp;<input type="reset" style="font-size: 16px; width: 100px;"><br> 
    <tr></tr>
    <br>
    <label for="Process">2. GDS NAME :</label>
    <input type="text" id="Process_ID" name="Process" size="74" style="font-size: 14px; width: 300px;"><br>
    <p><small>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-. PROCESS + S/L  : BD130S_60UM <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-. PROCESS + S/L + 제품군 : BD180S_60UM_SPD <br>
    <br>
    &nbsp;[ GDS NAME에 'SPD' or 'NORMAL'을 쓰면 KEY 이름이 NIKON/ASML로 시작됩니다. ] <br>
    </small></p>
</form>
</body>
</html>